body{
	margin: 0;
	padding: 0;
	width: 500px;
	height: 650px;
	background: url(background.jpg);
	background-position: center;
	background-size: cover;
}
#calculator{
	width: 320px;
	height: 470px;
	border: 5px solid black;
	border-radius: 10px;
	background: #fff;
	margin: 0;
	padding: 0;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
}
#buttons{
	width: 320px;
	height: 370px;
}
#display{
	width: 320px;
	height: 100px;
}
#butt{
	margin: 20px 20px 20px 20px;
	padding: 2px;
	width: 35px;
	height: 35px;
	border:none;
	border-radius: 50%;
	font-size: 15px;
	font-weight: 600;
}
#butt:active{
	font-size: 18px;
	border: none;
}
.none{
	background-color: white;
}
.red{
	background-color: red;
}
.cyan{
	background-color: cyan;
}
.blue{
	background-color: blue;
}
.purple{
	background-color: purple;
}
.brown{
	background-color: brown;
}
.indigo{
	background-color: indigo;
}
.violet{
	background-color: violet;
}
.forestGreen{
	background-color: forestgreen;
}
